.main-container
    width: 100vw
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap

.container
    width: 95%
    max-width: 1200px
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap

.container-50
    width: 100%
    +md
        width: 49%
        max-width: 500px

